<div class="wrapper" style='height: 100%; overflow: hidden;'>
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">
        </div>
        
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/now-logo.png" alt="" >
                <h1 class="h1-seo">El-Countries.</h1>
                <h3>Oops!! You have an error :(</h3>
                <h5>
                    An error occurred while we were trying to get your info, this is probably due to a search problem!! <br/>
                    Example of error cases would be something like: <br/>
                    1- Searching by country code with an invalid code (Syria codes are: SY & SYR only). <br/>
                    2- Searching by calling code with leading zeros or plus (like +963 or 00963) where the correct Syrian calling code is (963). <br/>
                    3- Searching by currency name instead of currency code (Syrian currency is SYP not lira). <br/>
                    If you still believe that this is a real error with the application please contact me on my email <a href="mailto:nouralhadi99@gmail.com" class='text-primary'>nouralhadi99@gmail.com</a> <br/>
                    <span class='btn btn-primary' (click)="goTo('countries/ask')">Search Again!!</span>
                </h5>
            </div>
            <h6 class="category category-absolute">El-Countries by
                <a href="https://linkedin.com/in/NourAlhadi" target="_blank">
                    Nour Alhadi Mahmoud
                </a>
            </h6>
        </div>
    </div>
</div>
      