<div class="wrapper" style='height: 100%; overflow: hidden;'>
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">
        </div>
        
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/now-logo.png" alt="" >
                <h1 class="h1-seo">El-Countries.</h1>
                <h3>This project is just a training project on angular 2+ for myself <a href="https://github.com/NourAlhadi/El-Countries" target="_blank">(Source Code)</a>, the template is provided by (creative tim) thanks for thier efforts!!</h3>
                <h5>
                    In this website you will be able to learn more about countries of the world!! <br/>
                    You can search countries by (name, code, language, etc..) to be able to learn about those countries <br/>

                        You'll get a lot of info about the country you select from flag to language to a lot more <br/>
                        So what are you waiting for? <span class='btn btn-primary' (click)="goTo('countries/ask')">Let's get started</span>
                </h5>
            </div>
            <h6 class="category category-absolute">El-Countries by
                <a href="https://linkedin.com/in/NourAlhadi" target="_blank">
                    Nour Alhadi Mahmoud
                </a>
            </h6>
        </div>
    </div>
</div>
      