<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/now-logo.png" alt="" >
              <h1 class="h1-seo">El-Countries.</h1>
              <h3>This project is just a training project on angular 2+ for myself, the template is provided by (creative tim) thanks for thier efforts!!</h3>
          </div>
          <h6 class="category category-absolute">El-Countries by
              <a href="https://linkedin.com/in/NourAlhadi" target="_blank">
                  Nour Alhadi Mahmoud
              </a>.</h6>
      </div>
  </div>
  
</div>
